<!-- <h1>Login Page</h1> -->
  <mat-card>
    <img src="assets/images/eyesteel.png" width="120px" />
    <!-- <h3 class="login-title">Go<span>Steel</span></h3> -->
    <form (ngSubmit)="getCredentials(loginForm.value);" [formGroup]="loginForm">
      <div class="example-container">
        <mat-form-field>
          <input matInput type="email" formControlName="email" [formControl]="loginForm.controls['email']" placeholder="Enter Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" formControlName="email" [formControl]="loginForm.controls['password']" placeholder="Enter Password">
        </mat-form-field>

  <!--       <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field> -->
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card>    
