<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
<!--       <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/userdashboard"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
        </a>
      </mat-nav-list> -->
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
          Products
        </a>
      </mat-nav-list>      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
<!--   <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button> -->
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <!-- <add-product></add-product> -->
        <mat-card>
          <h2 class="mat-title">Add Product 
            <!-- <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>   
            </button> -->
          </h2>
          <h2 class="mat-caption mat-body-1">Add a new product</h2>
          <hr />
<!--           <mat-form-field *ngFor="let store of selectedStores">
            <input matInput (change)="changeStoreStocks($event, store)" placeholder="Enter {{store.name}} Stock Value" type="number" value={{store.stock}} [(ngModel)]="store.stock">
          </mat-form-field>    -->       
          <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" >
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Enter Product Name" type="text" formControlName="name" [formControl]="addProductForm.controls['name']">
                <mat-error *ngIf="addProductForm.controls['name'].hasError('required')">Name Is Required</mat-error>
              </mat-form-field>
<!--               <mat-form-field>
                <input matInput placeholder="Product Batch Number" type="text" formControlName="batchnumber" [formControl]="addProductForm.controls['batchnumber']">
                <mat-error *ngIf="addProductForm.controls['batchnumber'].invalid">Batch Number Is Required</mat-error>
              </mat-form-field> -->
<!--               <mat-form-field>
                <input matInput placeholder="Enter Stock Value" type="number" formControlName="stockvalue" [formControl]="addProductForm.controls['stockvalue']">
                <mat-error *ngIf="addProductForm.controls['stockvalue'].invalid">Stock Value Is Required</mat-error>
              </mat-form-field> -->
              <mat-form-field>
                <input matInput placeholder="Enter Product Price" type="number" formControlName="price" [formControl]="addProductForm.controls['price']">
                <mat-error *ngIf="addProductForm.controls['price'].invalid">Price Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Select Product Category" [formControl]="addProductForm.controls['category']" (change)="selectSubCategoty($event)" formControlName="category" ngDefaultControl>
                  <mat-option [value]="">
                    none
                  </mat-option>
                  <mat-option *ngFor="let item of allCategories" [value]="item._id">
                    {{item.name}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Select Sub Category" [formControl]="addProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
                  <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
<!--               <mat-form-field>
                <mat-select placeholder="Select Store" (change)="setProductStore($event)" [formControl]="addProductForm.controls['stores']" formControlName="stores" ngDefaultControl>
                  <mat-option *ngFor="let item of allStores" [value]="item._id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field>
                <mat-select (change)="multiSelectStore($event)" placeholder="Select Stores" [formControl]="toppings" multiple>
                  <mat-select-trigger>
                    <span *ngFor="let item of toppings.value; let i=index">
                      <span *ngIf="i===0">{{item.name}}</span>
                    </span>
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} others)
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field *ngIf="addProductForm.controls['type'].value == 'Weighted'">
                <input matInput placeholder="Enter Product Weight" type="number" formControlName="weight" [formControl]="addProductForm.controls['weight']">
                <mat-error *ngIf="addProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
              </mat-form-field>
              <hr>
              <mat-radio-group (change)="getProductType($event)" class="example-radio-group" formControlName="type" [formControl]="addProductForm.controls['type']">
                <mat-radio-button class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
                  {{type}}
                </mat-radio-button>
              </mat-radio-group>


              
            </div>
          </form>
          <hr />
          <div class="example-container">
            <h2 *ngIf="selectedStores.length != 0" class="mat-title">Stock Values</h2>
            <h2 *ngIf="selectedStores.length != 0" class="mat-caption mat-body-1">enter stock values for stores</h2>
            <hr *ngIf="selectedStores.length != 0" />
            <mat-form-field *ngFor="let store of selectedStores; let i=index;">
              <input matInput (change)="changeStoreStocks($event, store)" placeholder="Enter {{store.name}} Stock Value" type="number" value={{store.stock}} [(ngModel)]="store.stock">
              <!-- <mat-icon matSuffix mat-tooltip="Remove store!" (click)="deleteStores(i, selectedStores)">delete</mat-icon> -->
            </mat-form-field>
            <button (click)="addProduct(addProductForm.value)" [disabled]="(!addProductForm.valid || selectedStores.length == 0)" mat-raised-button color="primary">Add Product</button>
          </div>

<!--           <mat-form-field>
            <mat-select (change)="multiSelectStore($event)" placeholder="Toppings" [formControl]="toppings" multiple>
              <mat-select-trigger>
                <span *ngFor="let item of toppings.value; let i=index">
                  <span *ngIf="i===0">{{item.name}}</span>
                </span>
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                  (+{{toppings.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->

        </mat-card>          
      </div>
      <div class="col-md-8">
        <mat-card>
          <h2 class="mat-title">Products  
<!--             <button mat-mini-fab color="primary" matTooltip="add new product" class="pull-right" (click)="addProduct()">
              <mat-icon>add</mat-icon>
            </button> -->
          </h2>
          <h2 class="mat-caption mat-body-1">List of all products</h2>
          <hr>
          <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>Batch #</th>
                <th>Weight</th>
                <th>Stock Value</th>
                <th>Net Weight</th>
                <th>Price</th>
                <th>Net Worth</th>
                <!-- <th>Store</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of allProducts">
                <td>{{product.name}}</td>
                <td>{{product.batchnumber}}</td>
                <td *ngIf="product.type == 'Weighted'">{{product.weight | number}}</td>
                <td *ngIf="product.type == 'Single Unit'">N/A</td>
                <td *ngIf="product.stockvalue">{{product.stockvalue | number}}</td>
                <td *ngIf="!product.stockvalue">N/A</td>
                <td *ngIf="product.weight">{{product.weight * product.stockvalue | number}}</td>
                <td *ngIf="!product.weight">N/A</td>
                <td>{{product.price}}</td>
                <td *ngIf="product.stockvalue && product.type == 'Single Unit'">{{product.price * product.stockvalue | number}}</td>
                <td *ngIf="product.stockvalue && product.type == 'Weighted'">{{product.weight * product.price * product.stockvalue | number}}</td>
              </tr>
            </tbody>
            
          </table>
        </mat-card>
      </div>


    
    </div>    
<!--     <h3 class="page-header">Add Invoice</h3>
    <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button><br>
    <form [formGroup]="invoiceForm">
      <div formArrayName="itemRows"> -->
      
<!--
In the template we are iterating this formarray, 
    and that is just the path to the formarray, which is:
    
    invoiceForm.controls.itemRows.controls
    
    'invoiceForm' being the complete form object, 'controls' being the content of the form object,
    'itemRows' being the (form)array in the form, 'controls' being the content of the formarray.

-->
      
<!--         <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
          <h4>Invoice Row #{{ i + 1 }}</h4>
          <div class="form-group">
            <label>Item Name</label>
            <input formControlName="itemname" class="form-control">
          </div>
          <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button>
        </div>
      </div>

    </form>
    <pre>{{invoiceForm.value | json}}</pre> -->
  </div>
</mat-sidenav-container>