<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item routerLink="/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
<!--       <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/userdashboard"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
        </a>
      </mat-nav-list> -->
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/products"> 
          <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
          Products
        </a>
      </mat-nav-list>      
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  
    <div class="example-scrolling-content mat-body-1">
      <mat-card>
        <h2 class="mat-title">Invoices  
          <a routerLink="/addinvoice" mat-mini-fab color="primary" matTooltip="Add new invoice!" class="pull-right"> 
          <!-- (click)="addInvoice()"> -->
            <mat-icon>add</mat-icon>
          </a>
        </h2>
        <h2 class="mat-caption mat-body-1">List of all invoices</h2>
        <hr>
        <table class="mat-body-1 table-no-border table table-stripped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Created By</th>
              <th>Customer</th>
              <th># of items</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of allInvoices" (click)="getSingleInvoice(invoice)">
              <td>{{invoice.invoicenumber}}</td>
              <td>{{invoice.createdby.email}}</td>
              <td>{{invoice.invoicecustomer.name}}</td>
              <td>{{invoice.invoiceproducts.length}}</td>
              <td>{{invoice.invoicetotal | number}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>

</mat-sidenav-container>