<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
  <mat-icon matTooltip="Tooltip!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="example-scrolling-content">
      Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
      fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
      nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
      aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
      vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
      ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
      enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
      tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
      Taciti dui, sapien consectetuer.
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
<!--   <div class="example-scrolling-content">
    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
    vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
    ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
    consectetuer.
  </div> -->
</mat-sidenav-container>