<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item routerLink="/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/products"> 
          <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
          Products
        </a>
      </mat-nav-list>      
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item routerLink="/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3">
<!--         <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">  
              Select Customer
            </h2>
            <h2 class="mat-caption mat-body-1">enter customer name</h2>
            <hr>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto2" [formControl]="addCustomerForm.controls['customerCtrl']">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                  <span>{{ state.name }}</span> |
                  <small>{{state.address}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
        </div> -->
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">
              Invoice Customer
            </h2>
            <h2 class="mat-caption mat-body-1">following is the invoice customer</h2>
            <hr>
            <div class="example-container customer-form">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Name" type="text" name="name" value="{{selectedInvoice?.invoicecustomer.name}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Address" type="text" name="address" value="{{selectedInvoice?.invoicecustomer.address}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Phone" type="text" name="phone" value="{{selectedInvoice?.invoicecustomer.phone}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer E-mail" type="text" name="email" value="{{selectedInvoice?.invoicecustomer.email}}">
              </mat-form-field>
            </div>       
          </mat-card>
        </div>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Invoice #{{selectedInvoice?.invoicenumber}}            
            <a routerLink="/invoice" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">below are invoice details</h2>
          <hr>
          <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Qty</th>
                <th>Name</th>
                <th>Batch Number</th>
                <th>Weight</th>
                <th>Calc Weight</th>
                <th>Price</th>
                <th>Store</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of selectedInvoice?.invoiceproducts; let i=index;">
                <td>{{i+1}}</td>
                <td>{{product.cartquantity}}</td>
                <td>{{product.name}}</td>
                <td>{{product.batchnumber}}</td>
                <td *ngIf="product.type === 'Weighted'">{{product.cartweight}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'">{{product.calcweight}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td>{{product.cartprice}}</td>
                <td>{{product.cartstores.name}}</td>
                <td>{{product.cartworth | number}}</td>
              </tr>
              <tr>
                <td colspan="4">
                  <mat-form-field class="example-full-width">
                    <textarea matInput disabled="true" value="{{selectedInvoice?.invoicenotes}}" placeholder="Invoice Notes"></textarea>
                  </mat-form-field>
                </td>
                <td colspan="5">
                  <div class="pull-right price">
                    Grand Total:- <strong>{{selectedInvoice?.invoicetotal | currency:"pkr"}}</strong>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>

</mat-sidenav-container>