<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
<!--     <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button> -->
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
<!--       <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/userdashboard"> 
            <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
          </a>
      </mat-nav-list> -->
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/products"> 
            <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
            Products
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/invoice"> 
            <mat-icon mat-list-icon>receipt</mat-icon> Invoices
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/adminsettings"> 
            <mat-icon mat-list-icon>settings</mat-icon> Settings
          </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content mat-body-1" *ngIf="companyInfoFlag">
    <mat-card>
      <h2 class="mat-title">Edit Company Info 
        <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>   
        </button>
      </h2>
      <h2 class="mat-caption mat-body-1">Add Company Info</h2>
      <hr>
      <form [formGroup]="addCompanyInfoForm" (ngSubmit)="updateCompanyInfo(addCompanyInfoForm.value)" >
        
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter Company Name" type="text" formControlName="name" [formControl]="addCompanyInfoForm.controls['name']">
            <mat-error *ngIf="addCompanyInfoForm.controls['name'].invalid">Name Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Enter Company Introduction" formControlName="intro" [formControl]="addCompanyInfoForm.controls['intro']"></textarea>
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['intro'].invalid">Batch Number Is Required</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Company Website" type="text" formControlName="website" [formControl]="addCompanyInfoForm.controls['website']">
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['website'].invalid">Weight Is Required</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Company Address" type="text" formControlName="address" [formControl]="addCompanyInfoForm.controls['address']">
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['address'].invalid">Price Is Required</mat-error> -->
          </mat-form-field>          
          <mat-form-field>
            <input matInput placeholder="Enter Company Phone" type="text" formControlName="phone" [formControl]="addCompanyInfoForm.controls['phone']">
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['phone'].invalid">Batch Number Is Required</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Company NTN" type="text" formControlName="ntn" [formControl]="addCompanyInfoForm.controls['ntn']">
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['ntn'].invalid">Weight Is Required</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Company Deals In?" type="text" formControlName="dealsin" [formControl]="addCompanyInfoForm.controls['dealsin']">
            <!-- <mat-error *ngIf="addCompanyInfoForm.controls['dealsin'].invalid">Price Is Required</mat-error> -->
          </mat-form-field>
          <button [disabled]="!addCompanyInfoForm.valid" mat-raised-button color="primary">
            <mat-icon mat-list-icon>add</mat-icon> &nbsp;Update Info
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="example-scrolling-content mat-body-1" *ngIf="!companyInfoFlag">
    <mat-card>
      
      <h2 class="mat-title">Company Information 
        <button mat-icon-button color="warn" matTooltip="Edit Info!" (click)="goToEdit()">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <a routerLink="/adminsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goToEdit()">
          <mat-icon>arrow_back</mat-icon>   
        </a>
      </h2>
      
      <h2 class="mat-caption mat-body-1">Below are the company information/details</h2>
<!--       <button mat-button color="primary" matTooltip="Edit Info!" (click)="goToEdit()">
        <mat-icon>mode_edit</mat-icon>  
      </button> -->
      <hr>
      <div class="mat-body-1">
        
        <h4 class="mat-title">Name</h4>
        <span class="mat-body-1">{{companyName}}</span>
        <hr>
        
        <h4 class="mat-title">Address</h4>
        <span class="mat-body-1">{{companyAddress}}</span>
        <hr>
        
        <h4 class="mat-title">Introduction</h4>
        <span class="mat-body-1">{{companyIntro}}</span>
        <hr>
        
        <h4 class="mat-title">Website</h4>
        <span class="mat-body-1">{{companyWebsite}}</span>
        <hr>
        
        <h4 class="mat-title">Phone</h4>
        <span class="mat-body-1">{{companyPhone}}</span>
        <hr>
        
        <h4 class="mat-title">NTN</h4>
        <span class="mat-body-1">{{companyNtn}}</span>
        <hr>
        
        <h4 class="mat-title">Deals In</h4>
        <span class="mat-body-1">{{companyDealsIn}}</span>
      
      </div>  

    </mat-card>
  </div>
</mat-sidenav-container>