<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
<!--     <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button> -->
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
<!--       <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/userdashboard"> 
            <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
          </a>
      </mat-nav-list> -->
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/products"> 
            <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
            Products
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/invoice"> 
            <mat-icon mat-list-icon>receipt</mat-icon> Invoices
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/adminsettings"> 
            <mat-icon mat-list-icon>settings</mat-icon> Settings
          </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <h2 class="mat-title">Add Account Type</h2>
          <h2 class="mat-caption mat-body-1">add a new account type</h2>
          <hr>
          <form (ngSubmit)="addAccountType(addAccountTypeForm.value, $event)" [formGroup]="addAccountTypeForm">
            <div class="example-container">

                <mat-form-field>
                  <input matInput placeholder="Enter Type Name" type="text" formControlName="name" [formControl]="addAccountTypeForm.controls['name']">
                  <mat-error *ngIf="addAccountTypeForm.controls['name'].invalid">Name Is Required</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Select Product Category" [formControl]="addAccountTypeForm.controls['type']" formControlName="type" ngDefaultControl>
                    <mat-option *ngFor="let value of allTypes" [value]="value.type">
                      {{value.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="addAccountTypeForm.controls['type'].value === 'bank'">
                  <input matInput placeholder="Enter Account Number" type="text" formControlName="accountnumber" [formControl]="addAccountTypeForm.controls['accountnumber']">
                  <mat-error *ngIf="addAccountTypeForm.controls['accountnumber'].invalid">Account Number Is Required</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="addAccountTypeForm.controls['type'].value === 'bank' || addAccountTypeForm.controls['type'].value === 'cash' || addAccountTypeForm.controls['type'].value === 'card' || addAccountTypeForm.controls['type'].value === 'post_dated_cheque' || addAccountTypeForm.controls['type'].value === 'cheques' || addAccountTypeForm.controls['type'].value === 'written_doc' ">
                  <input matInput placeholder="Enter Opening Balance" type="number" formControlName="openingbalance" [formControl]="addAccountTypeForm.controls['openingbalance']">
                  <mat-error *ngIf="addAccountTypeForm.controls['openingbalance'].invalid">Opening Balance Number Is Required</mat-error>
                </mat-form-field>



                <button [disabled]="!addAccountTypeForm.valid" mat-raised-button type="submit" color="primary">
                  <mat-icon>add</mat-icon> Add
                </button>
            </div>          
          </form>
        </mat-card>
      </div>
      <div class="col-md-8">
        <mat-card>
          <h2 class="mat-title">Account Types 
            <a routerLink="/adminsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">Below are all account types</h2>
          <hr>
          <table class="mat-body-1 table-no-border table table-stripped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let type of allAccountTypes" (click)="showSubAccounts(type)">
                <td>{{type.name}}</td>
                <td *ngIf="type.type === 'bank'">Bank</td>
                <td *ngIf="type.type === 'cash'">Cash</td>
                <td *ngIf="type.type === 'post_dated_cheque'">Post Dated Cheques</td>
                <td *ngIf="type.type === 'written_doc'">Written Docs</td>
                <td *ngIf="type.type === 'card'">Card</td>
                <td *ngIf="type.type === 'cheques'">Cheques</td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>