<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
<!--       <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/userdashboard"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
        </a>
      </mat-nav-list> -->
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>local_grocery_store</mat-icon> Products
        </a>
      </mat-nav-list>      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <mat-card *ngIf="accountType === 'bank'">
          <h2 class="mat-title">Add Bank Account</h2>
          <h2 class="mat-caption mat-body-1">add new bank account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addBankAccountForm.value)" [formGroup]="addBankAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addBankAccountForm.controls['name']" placeholder="Enter Bank Account Name">
                <mat-error *ngIf="addBankAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="accountnumber" [formControl]="addBankAccountForm.controls['accountnumber']" placeholder="Enter Bank Account Number">
                <mat-error *ngIf="addBankAccountForm.controls['accountnumber'].invalid">Account Number Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addBankAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addBankAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>

              <button [disabled]="!addBankAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
        <mat-card *ngIf="accountType === 'cheques'">
          <h2 class="mat-title">Add Cheque Account</h2>
          <h2 class="mat-caption mat-body-1">Add new cheque account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addChequeAccountForm.value)" [formGroup]="addChequeAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addChequeAccountForm.controls['name']" placeholder="Enter Cheque Account Name">
                <mat-error *ngIf="addChequeAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addChequeAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addChequeAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addChequeAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
        <mat-card *ngIf="accountType === 'cash'">
          <h2 class="mat-title">Add Cash Account</h2>
          <h2 class="mat-caption mat-body-1">Add new cash account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addCashAccountForm.value)" [formGroup]="addCashAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addCashAccountForm.controls['name']" placeholder="Enter Cash Account Name">  
                <mat-error *ngIf="addCashAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addCashAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addCashAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addCashAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
        <mat-card *ngIf="accountType === 'written_doc'">
          <h2 class="mat-title">Add Written Doc Account</h2>
          <h2 class="mat-caption mat-body-1">Add new written doc account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addWrittenDocAccountForm.value)" [formGroup]="addWrittenDocAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addWrittenDocAccountForm.controls['name']" placeholder="Enter Written Doc Account Name">  
                <mat-error *ngIf="addWrittenDocAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addWrittenDocAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addWrittenDocAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addWrittenDocAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
        <mat-card *ngIf="accountType === 'card'">
          <h2 class="mat-title">Add Card Account</h2>
          <h2 class="mat-caption mat-body-1">Add new card account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addCardAccountForm.value)" [formGroup]="addCardAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addCardAccountForm.controls['name']" placeholder="Enter Card Account Name">  
                <mat-error *ngIf="addCardAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addCardAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addCardAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addCardAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
        <mat-card *ngIf="accountType === 'post_dated_cheque'">
          <h2 class="mat-title">Add Post Dated Cheque Account</h2>
          <h2 class="mat-caption mat-body-1">Add new post dated cheque account</h2>
          <hr>
          <form (ngSubmit)="addSubAccount(addPostDatedAccountForm.value)" [formGroup]="addPostDatedAccountForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addPostDatedAccountForm.controls['name']" placeholder="Enter Post Dated Cheque Account Name">  
                <mat-error *ngIf="addPostDatedAccountForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input type="number" matInput formControlName="openingbalance" [formControl]="addPostDatedAccountForm.controls['openingbalance']" placeholder="Enter Opening Balance">
                <mat-error *ngIf="addPostDatedAccountForm.controls['openingbalance'].invalid">Opening Balance Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addPostDatedAccountForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>

      </div>
      <div class="col-md-8">
        <mat-card>
          <h2 class="mat-title">Account Type Name:&nbsp;<strong>{{selectedAccount?.name}}</strong>  
            <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </h2>
          <!-- <h2 class="mat-title"><strong>Category Name:&nbsp;</strong>{{selectedCategory?.name}}</h2> -->
          <h2 class="mat-caption mat-body-1">List of all bank accounts</h2>
          <hr>
          <table class="mat-body-1 table-no-border table-stripped table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <!-- <th>Category Name</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allSubAccounts; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <!-- <td>{{selectedAccount.name}}</td> -->
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>