    <mat-card>
      <h2 class="mat-title">Add Product 
        <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>   
        </button>
      </h2>
      <h2 class="mat-caption mat-body-1">Add a new product</h2>
      <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" >
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter Product Name" type="text" formControlName="name" [formControl]="addProductForm.controls['name']">
            <mat-error *ngIf="addProductForm.controls['name'].invalid">Name Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Product Batch Number" type="text" formControlName="batchnumber" [formControl]="addProductForm.controls['batchnumber']">
            <mat-error *ngIf="addProductForm.controls['batchnumber'].invalid">Batch Number Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Stock Value" type="number" formControlName="stockvalue" [formControl]="addProductForm.controls['stockvalue']">
            <mat-error *ngIf="addProductForm.controls['stockvalue'].invalid">Stock Value Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Product Price" type="number" formControlName="price" [formControl]="addProductForm.controls['price']">
            <mat-error *ngIf="addProductForm.controls['price'].invalid">Price Is Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Product Category" [formControl]="addProductForm.controls['category']" (change)="selectSubCategoty($event)" formControlName="category" ngDefaultControl>
              <mat-option *ngFor="let item of allCategories" [value]="item._id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Sub Category" [formControl]="addProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
              <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="addProductForm.controls['type'].value == 'Weighted'">
            <input matInput placeholder="Enter Product Weight" type="number" formControlName="weight" [formControl]="addProductForm.controls['weight']">
            <mat-error *ngIf="addProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
          </mat-form-field>
          <mat-radio-group class="example-radio-group" formControlName="type" [formControl]="addProductForm.controls['type']">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>

          <button [disabled]="!addProductForm.valid" mat-raised-button color="primary">Add Product</button>
          
        </div>
      </form>
    </mat-card>
