<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <!-- <mat-icon class="example-icon">favorite</mat-icon> -->
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
<!--     <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button> -->
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
<!--       <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/userdashboard"> 
            <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
          </a>
      </mat-nav-list> -->
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/products"> 
            <mat-icon mat-list-icon>local_grocery_store</mat-icon> 
            Products
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/invoice"> 
            <mat-icon mat-list-icon>receipt</mat-icon> Invoices
          </a>
      </mat-nav-list>      
      <mat-nav-list>
          <a class="mat-button" mat-list-item href="#/adminsettings"> 
            <mat-icon mat-list-icon>settings</mat-icon> Settings
          </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>      
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content mat-body-1">
    <mat-card>
      <h2 class="mat-title">Add Customer 
        <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>   
        </button>
      </h2>
      <h2 class="mat-caption mat-body-1">Add a new customer</h2>
      <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer(addCustomerForm.value)" >
        <div class="example-container">
          
          <mat-form-field>
            <input matInput placeholder="Enter Customer Name" type="text" formControlName="name" [formControl]="addCustomerForm.controls['name']">
            <mat-error *ngIf="addCustomerForm.controls['name'].invalid">Name Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Enter Customer Address" type="text" formControlName="address" [formControl]="addCustomerForm.controls['address']">
            <mat-error *ngIf="addCustomerForm.controls['address'].invalid">Batch Number Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Enter Customer Email" type="number" formControlName="email" [formControl]="addCustomerForm.controls['email']">
            <mat-error *ngIf="addCustomerForm.controls['email'].invalid">Weight Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Enter Customer Phone" type="number" formControlName="phone" [formControl]="addCustomerForm.controls['phone']">
            <mat-error *ngIf="addCustomerForm.controls['phone'].invalid">Price Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Enter Customer Fax" type="number" formControlName="fax" [formControl]="addCustomerForm.controls['fax']">
            <mat-error *ngIf="addCustomerForm.controls['fax'].invalid">Stock Value Is Required</mat-error>
          </mat-form-field>
          
<!--           <mat-form-field>
            <mat-select placeholder="Select Product Category" [formControl]="addCustomerForm.controls['category']" (change)="selectSubCategoty($event)" formControlName="category" ngDefaultControl>
              <mat-option *ngFor="let item of allCategories" [value]="item._id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <mat-select placeholder="Select Sub Category" [formControl]="addCustomerForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
              <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <button [disabled]="!addCustomerForm.valid" mat-raised-button color="primary">Add Cutomer</button>
          
        </div>
      </form>
    </mat-card>
  </div>
</mat-sidenav-container>