/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(./icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(./icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
body{
  margin: 0px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.table-no-border thead tr th {
    border-top: none !important;
    color: #279BC9;
}
.example-sidenav-fab-container{
  border:none !important;
}
.mat-title {
    color: #279BC9;
}
.mat-caption {
    color: #000;
}
.stock-indicator {
    color: #279BC9;
}