<mat-toolbar>
  <span><img src="assets/images/eyesteel.png" width="60px" /></span>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title">Dewan International</span>
  <mat-icon matTooltip="Logout!" color="warn" (click)="logout()" class="example-icon">power_settings_new</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>
<!--       <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/userdashboard"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Users
        </a>
      </mat-nav-list> -->
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>local_grocery_store</mat-icon> Products
        </a>
      </mat-nav-list>      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <h2 class="mat-title">Add Sub Category</h2>
          <h2 class="mat-caption mat-body-1">Add new sub category</h2>
          <hr>
          <form (ngSubmit)="addSubCategory(addSubCategoryForm.value)" [formGroup]="addSubCategoryForm">
            <div class="example-container">
              <mat-form-field>
                <input matInput formControlName="name" [formControl]="addSubCategoryForm.controls['name']" placeholder="Enter Sub Category Name">
                <mat-error *ngIf="addSubCategoryForm.controls['name'].invalid">Name Is Required</mat-error>
              </mat-form-field>
              <button [disabled]="!addSubCategoryForm.valid" mat-raised-button color="primary">
                <mat-icon>add</mat-icon> Add
              </button>
            </div>  
          </form>  
        </mat-card>
      </div>
      <div class="col-md-8">
        <mat-card>
          <h2 class="mat-title"><strong>Category Name:&nbsp;</strong>{{selectedCategory?.name}}  
            <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </h2>
          <!-- <h2 class="mat-title"><strong>Category Name:&nbsp;</strong>{{selectedCategory?.name}}</h2> -->
          <h2 class="mat-caption mat-body-1">List of all sub categories</h2>
          <hr>
          <table class="mat-body-1 table-no-border table-stripped table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <!-- <th>Category Name</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allSubCategories; let i=index;">
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <!-- <td>{{selectedCategory.name}}</td> -->
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>